<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> NORTHWIND </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/product/products">Product <span class="sr-only">(CRUD)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Order (R)</a>
            </li>

        </ul>
    </div>
</nav>


<div class="m-4 col-md-12">
    <div class="m-4 content">
        <div th:switch="${products}" class="container">
            <h2 th:case="null">No products yet!</h2>
            <div th:case="*">
                <h2 class="col-md-8">PRODUCTS</h2>
                <p><a href="/product/signup">Add a new product</a></p>

                </br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>QuantityPerUnit</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.quantityPerUnit}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.stock}"></td>
                        <td><a th:href="@{/product/edit/{id}(id=${product.id})}">Edit</a></td>
                        <td><a th:href="@{/product/delete/{id}(id=${product.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav th:if="${pages.size > 0}" class="navbar navbar-expand-lg navbar-light bg-light" >
                <div class="collapse navbar-collapse" id="navbarNav2">
                    <ul class="navbar-nav" th:each="pageNumber : ${pages}">
                        <li class="nav-item active">
                            <a th:href="@{/product/products(page=${pageNumber})}"
                               th:text=${pageNumber}+1
                               class="btn btn-primary m-2"
                            ></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>


</div>


</body>
