<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> NORTHWIND </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/product/products">Product <span class="sr-only">(CRUD)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Order (R)</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container col-md-12">
    <br>
    <h2>UPDATE PRODUCT</h2>
    </br>
    <form class="container" action="#" th:action="@{/product/update/{id}(id=${product.id})}" th:object="${product}" method="post">


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id"> Id </label>
                <input class="form-control" type="text" th:field="*{id}" id="id" placeholder="Id" disabled="true">
                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name" disabled="true">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="quantityPerUnit">QuantityPerUnit</label>
                <input class="form-control" type="text" th:field="*{quantityPerUnit}" id="quantityPerUnit" placeholder="QuantityPerUnit" disabled="true">
                <span th:if="${#fields.hasErrors('quantityPerUnit')}" th:errors="*{quantityPerUnit}"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="category">Category</label>
                <select class="form-control selectpicker" th:field="*{categoryId}" id="category" disabled="true">
                    <option value="">Nothing selected</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">category
                    </option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="supplier">Supplier</label>
                <select class="form-control selectpicker" th:field="*{supplierId}" id="supplier" disabled="true">
                    <option value="">Nothing selected</option>
                    <option th:each="supplier : ${suppliers}"
                            th:value="${supplier.id}"
                            th:text="${supplier.name}">category
                    </option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input class="form-control" type="number" th:field="*{price}" id="price" placeholder="Price">
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            </div>



            <div class="form-group col-md-6">
                <label for="stock">Stock</label>
                <input class="form-control" type="number" th:field="*{stock}" id="stock" placeholder="Stock">
                <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span>
            </div>
        </div>
        </br>
        <input class="btn btn-primary" type="submit" value="Update Product">
    </form>

</div>
</body>
</html>
